[project]
	description = Clone of the GEDA PCB project. Porting inteface to QT and build system to WAF
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dale May (dmay31)
[access "refs/for/refs/*"]
	read = group user/Dale May (dmay31)
	push = group user/Dale May (dmay31)
	label-Code-Review = -2..+2 group user/Dale May (dmay31)
	label-Verified = -1..+1 group user/Dale May (dmay31)
	rebase = group user/Dale May (dmay31)
	removeReviewer = group user/Dale May (dmay31)
	submit = group user/Dale May (dmay31)
[access "refs/heads/*"]
	read = group user/Dale May (dmay31)
	create = group user/Dale May (dmay31)
	push = +force group user/Dale May (dmay31)
	pushMerge = group user/Dale May (dmay31)
[access "refs/tags/*"]
	push = +force group user/Dale May (dmay31)
	pushTag = group user/Dale May (dmay31)
	pushSignedTag = group user/Dale May (dmay31)
